.header_block{
    text-align: center;
    justify-content: center;
   
}

.header_primary{
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: .3rem;
}

.header_primary-sub{
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: .3rem;
    margin-bottom: 5rem;
}

.header_description{
    font-size: 1.5rem;
    letter-spacing: .1rem;
}

#About{
    width: 100%;
    height: 100%;
    padding: 2rem;
    margin-top: 8rem;
}