.header_block{
    text-align: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.header_primary{
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: .3rem;
    font-family: 'Kalam', cursive;
}

.header_primary-sub{
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: .3rem;
    margin-bottom: 5rem;
    font-family: 'Indie Flower', cursive;
}

.description{
    font-size: 1.5rem;
    letter-spacing: .1rem;
}

.emoji_span{
    display: block;
    margin-top: 5rem;
    font-size: 2rem;
}


.social-block i{
    font-size: 4rem;
    transition: .4s ease-out;
}

.social-block i:hover{
    color: #FFD700;
    cursor: pointer;
}