body {
  padding: 0;
  margin: 0;
  /* font-family: 'Liu Jian Mao Cao', cursive;
  font-family: 'Indie Flower', cursive;
  font-family: 'Kalam', cursive;
  font-family: 'Mukta', sans-serif; */
  font-family: 'Hind', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}


